/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

h1 {
  font-size: 1.5em;
  margin: 0 0 .5em;
}

h2 {
  font-size: 1.2em;
  margin: 0 0 .5em;
}

.itername {
  font-weight: bold;
}

.itercompleted {
  color: #808080;
}

#footer {
  margin-top: 2em;
  border-top: 1px solid #CCCCCC;
  font-size: .75em;
  color: #8080CC;
}

#footer a:link, #footer a:visited { color: #AA99CC; }
#footer a:hover, #footer a:active { color: #663399; }
