/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html.fullpage {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

html.fullpage > body {
  height: calc(100% - 2em); /* Make room for 2 margins of .5em, a header of 2em and a footer of 1em total */
  margin: .5em;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 .5em;
  padding-left: 35px;
  background-image: url("FirefoxQA_32.png");
  background-repeat: no-repeat;
}

h2 {
  font-size: 1.2em;
  margin: 1em 0 .5em;
}

h1 + h2 {
  margin-top: .5em;
}

h2 + ul {
  margin: 0;
}

ul {
  padding: 0 1em;
}

#iterdata > li + li {
  margin-top: 0.5em;
}

.itername {
  font-weight: bold;
}

.itercompleted {
  color: #808080;
}

table {
  border: 1px solid #000000;
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  padding: 1px 3px;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid #CCCCCC;
}
tr:not(:last-child) > td, tr:not(:last-child) > th {
  border-bottom: 1px solid #CCCCCC;
}

td:last-child, th:last-child {
  border-right: 1px solid #000000;
}
tr:last-child > td, tr:last-child > th {
  border-bottom: 1px solid #000000;
}

tr:not(:last-child) > th.trainname {
  border-bottom: 1px solid #000000;
}

th.product {
  width: 8ch;
}

td.num {
  text-align: right;
}

.dygraph-legend {
  background-color: rgba(255, 255, 255, .75) !important;
}

#footer {
  margin-top: 2em;
  border-top: 1px solid #CCCCCC;
  font-size: .75em;
  color: #8080CC;
}

html.fullpage > body > #footer {
  margin-top: .5em;
}

#footer a:link, #footer a:visited { color: #AA99CC; }
#footer a:hover, #footer a:active { color: #663399; }
